body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo .studio {
  color: #2e2f42;
}

.nav .links .menu-nav {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav .links .menu-nav:hover,
.nav .links .menu-nav:focus {
  color: #404bbf;
}

.address .links .mail-tel {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.address .links .mail-tel:hover,
.address .links .mail-tel:focus {
  color: #404bbf;
}

.title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}
.sec-button {
  background-color: #2e2f42;
  cursor: pointer;
}

.main .sec-button .button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.main .sec-button .button:hover,
.main .sec-button .button:focus {
  background-color: #404bbf;
}

.subtitle {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.sec-ourteam {
  background-color: #f4f4fd;
}

.card .card-mark {
  background-color: #ffffff;
}

.heading {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.paragraph {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

footer {
  background-color: #2e2f42;
}

.footer .logo .studio {
  color: #f4f4fd;
}

.footer .footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}
